html,
body{
    height: 100%;
}

.harbourmaster-sidebar{
    background-color: black;
    color: white;
    padding: 5px;
}

.harbourmaster-nav-link-list{
    list-style-type: none;
    padding-left: 0;
}

.harbourmaster-plugin-list{
    list-style-type: none;
    padding-left: 0;
}

.harbourmaster-nav-link-icon{
    padding-left: 2px;
    padding-right: 5px;
}

.harbourmaster-nav-link{
    color: lightblue;
}

.harbourmaster-runstate-reated,
.harbourmaster-runstate-running{
    color: green;
}

.harbourmaster-runstate-restarting,
.harbourmaster-runstate-dead{
    color: red;
}

.harbourmaster-runstate-paused,
.harbourmaster-runstate-removing
{
    color: orange;
}

.harbourmaster-runstate-exited
{
    color: gray;
}

/* A numeric table cell */
.harbourmaster-td-num{
    text-align: right;
}

/* A form at the top of a table (controls for filters, sorting, etc. */
.harbourmaster-table-form{
    padding-bottom: 5px;
}

.breadcrumb{
    padding: 3px 3px;
    margin: 3px 0px;
}
