html,
body{
    height: 100%;
}

.harbourmaster-sidebar{
    background-color: black;
    color: white;
    padding: 2px;
}

.harbourmaster-nav-link-list{
    list-style-type: none;
    padding-left: 0;
}

.harbourmaster-nav-link-icon{
    padding-left: 2px;
    padding-right: 5px;
}

.harbourmaster-nav-link{
    color: lightblue;
}
